# Install Jupyter Notebook
jupyter
notebook==7.1.0

# Remaining dependencies (for segmentation)
opendatasets==0.1.22
ever-beta==0.2.3
git+https://github.com/qubvel/segmentation_models.pytorch
pycocotools requests click

# Remaining dependencies (for diffusion)
diffusers==0.21.4
datasets==2.14.5
transformers==4.33.2
tensorboard==2.14.0
safetensors==0.4.4
